<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID"
  version="2.5">
  <display-name>CoreJavaLabWeb</display-name>
  <welcome-file-list>
    <welcome-file>Login.html</welcome-file>
    <welcome-file>ShoppingScreen.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloWorld</display-name>
    <servlet-name>HelloWorld</servlet-name>
    <servlet-class>day8.module1.HelloWorld</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorld</servlet-name>
    <url-pattern>/HelloWorld</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WelcomeUser</display-name>
    <servlet-name>WelcomeUser</servlet-name>
    <servlet-class>day8.module1.WelcomeUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WelcomeUser</servlet-name>
    <url-pattern>/WelcomeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayTrouserListServlet</display-name>
    <servlet-name>DisplayTrouserListServlet</servlet-name>
    <servlet-class>day8.module6.DisplayTrouserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayTrouserListServlet</servlet-name>
    <url-pattern>/DisplayTrouserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChoiceProcessingServlet</display-name>
    <servlet-name>ChoiceProcessingServlet</servlet-name>
    <servlet-class>day8.module6.ChoiceProcessingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChoiceProcessingServlet</servlet-name>
    <url-pattern>/ChoiceProcessingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalServlet</display-name>
    <servlet-name>FinalServlet</servlet-name>
    <servlet-class>day8.module6.FinalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalServlet</servlet-name>
    <url-pattern>/FinalServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeShoppingCart</display-name>
    <servlet-name>ChangeShoppingCart</servlet-name>
    <servlet-class>day8.module7.ChangeShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeShoppingCart</servlet-name>
    <url-pattern>/ChangeShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayShoppingCart</display-name>
    <servlet-name>DisplayShoppingCart</servlet-name>
    <servlet-class>day8.module7.DisplayShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayShoppingCart</servlet-name>
    <url-pattern>/DisplayShoppingCart</url-pattern>
  </servlet-mapping>
</web-app>